<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title><%= repository %></title>
	<link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
	<meta name="theme-color" content="#1e2327">
	<meta name="color-scheme" content="light dark">
	<!-- Libraries -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/github.min.css" />
	<link rel="stylesheet" href="./style.css">
</head>
<body class="logged-out env-production page-responsive intent-mouse" style="word-wrap: break-word;">
	<div class="application-main">
		<div itemscope="" itemtype="http://schema.org/SoftwareSourceCode">
			<main id="js-repo-pjax-container">
				<div id="repository-container-header" class="hx_page-header-bg pt-3 hide-full-screen mb-5">
					<div class="d-flex mb-3 px-3 px-md-4 px-lg-5">
						<div class="flex-auto min-width-0 width-fit mr-3">
							<h1 class=" d-flex flex-wrap flex-items-center break-word f3 text-normal">
								<svg class="octicon octicon-repo color-text-secondary mr-2" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
									<path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"></path>
								</svg>
								<span class="author flex-self-stretch" itemprop="author">
									<a class="url fn" rel="author" href="https://github.com/<%= username %>"><%= username %></a>
								</span>
								<span class="mx-1 flex-self-stretch color-text-secondary">/</span>
								<strong itemprop="name" class="mr-2 flex-self-stretch">
									<a href="https://github.com/<%= username %>/<%= repository %>"><%= repository %></a>
								</strong>
							</h1>
						</div>
					</div>
					<div id="responsive-meta-container">
						<div class="d-block mb-2 px-3 px-md-4 px-lg-5">
							<p class="f4 mb-3"><%= description %></p>
						</div>
					</div>
					<nav aria-label="Repository" class="js-repo-nav js-sidenav-container-pjax overflow-hidden px-3 px-md-4 px-lg-5">
						
					</nav>
				</div>
				<div class="container-xl clearfix new-discussion-timeline px-3 px-md-4 px-lg-5">
					<div id="repo-content-pjax-container" class="repository-content">
						<div>
							<div class="gutter-condensed gutter-lg flex-column flex-md-row d-flex">
								<div class="flex-shrink-0 col-12 col-md-12 mb-4 mb-md-0">
									<div class="file-navigation mb-3 d-flex flex-items-start">
										<div class="flex-1 mx-2 flex-self-center f4">
											<div id="breadcrumb" class="d-none d-sm-block"></div>
										</div>
									</div>
									<div class="Box mb-3">
										<div class="js-details-container Details">
											<div id="files" role="grid" aria-labelledby="files" class="js-navigation-container js-active-navigation-container d-md-block"></div>
										</div>
									</div>
								</div>
								<div class="flex-shrink-0 col-12 col-md-3">
									<div class="BorderGrid BorderGrid--spacious">
										<div class="BorderGrid-row hide-sm hide-md">
											<div class="BorderGrid-cell">
												<h2 class="mb-3 h4"></h2>
												<p id="description" class="f4 mt-3"></p>
												<div class="mt-3 d-flex flex-items-center">
													
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	
	<!-- Libraries -->
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js"></script>
	<script src="./script.js"></script>
</body>
</html>